.cards {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    gap: 141px 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 144px 80px;
  }
}

.cards__item {
  position: relative;
  padding: 21px 20px 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(4) .cards__title,
  &:nth-child(5) .cards__title,
  &:nth-child(6) .cards__title,
  &:nth-child(7) .cards__title {
    margin-top: 3px;
  }

  &:nth-child(2)::before,
  &:nth-child(3)::before {
    top: 1px;
  }

  &:nth-child(4)::before,
  &:nth-child(5)::before {
    top: 2px;
  }

  &:nth-child(6)::before,
  &:nth-child(7)::before {
    top: 3px;
  }

  &:nth-child(8)::before {
    top: 5px;
  }

  &--last {
    padding-top: 25px;

    @media (min-width: $tablet-width) {
      border: 2px solid $basic-grey;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $basic-grey;

    &--last {
      background-color: #ffffff;
    }

    &:nth-child(4) .cards__wrapper,
    &:nth-child(5) .cards__wrapper,
    &:nth-child(6) .cards__wrapper,
    &:nth-child(7) .cards__wrapper {
      margin-top: 155px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $special-grey-2;
      top: 0;
      left: 0;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--last::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $special-grey-2;
      top: 213px;
      left: 0;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:nth-child(4) .cards__wrapper,
    &:nth-child(5) .cards__wrapper,
    &:nth-child(6) .cards__wrapper,
    &:nth-child(7) .cards__wrapper {
      margin-top: 149px;
    }
  }
}

.cards__wrapper {
  display: flex;
  align-items: start;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin-top: 159px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 152px;
    margin-bottom: 32px;
  }
}

.cards__link {
  text-decoration: none;
}

.cards__image {
  object-fit: cover;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.cards__title {
  font-family: $second-family;
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  width: 95px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto 20px;

    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.cards__description {
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.cards__description-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1),
    &:nth-child(2) {
      padding-bottom: 6px;
    }

    &:nth-child(3) {
      margin-top: -2px;
      padding-bottom: 10px;
    }
  }
}

.cards__term,
.cards__meaning {
  font-size: 12px;
  line-height: 1.33;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.cards__meaning {
  margin: 0;
}

.cards__button {
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 38px;
  }
}
