.cat-info {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    min-width: 628px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.cat-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    min-width: 533px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 123px;

    @media (min-width: $desktop-width) {
      width: 1200px;
      gap: 104px;
      padding-right: 0;
    }

    @media (min-width: $tablet-width) {
      .input {
        width: 221px;
      }
    }
  }
}

.cat-info__group {
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;

  &--about-cat,
  &--program {
    border-bottom: 1px solid #d9d9d9;
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      border-bottom: none;
    }
  }
}

.cat-info__group--about-cat {
  padding-top: 0;
  padding-bottom: 22px;
  gap: 14px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 72px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 80px;
    width: 570px;
    padding-bottom: 70px;
  }

  .input__field {
    &:invalid {
      border: 2px solid $status-error;
    }
  }
}

.cat-info__group--program {
  padding-top: 22px;
  padding-bottom: 19px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 27px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
    width: 570px;
    min-height: 196px;
    margin-bottom: 70px;
  }
}

.cat-info__group--contact {
  padding-top: 0;
  padding-bottom: 25px;
  gap: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }

  .cat-info__input-contact-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 14px;
    right: 13px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 16px;
      right: 15px;
    }

    svg {
      fill: #ffffff;
    }

    path {
      stroke: $special-dark-grey-2;
    }
  }

  .cat-info__input-contact {
    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }

  .input__field:invalid {
    border: 2px solid $status-error;
  }

  .input__field:invalid + .cat-info__input-contact-icon path {
    stroke: $status-error;
  }
}

.cat-info__group--comment {
  padding-top: 0;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 70px;
  }
}

.cat-info__group--add {
  padding-top: 0;
  padding-bottom: 34px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
  }
}

.cat-info__input-contact {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.cat-info__title {
  font-family: $second-family;
  padding: 0;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.cat-info__title--contact {
  position: relative;
  width: 187px;
  padding-top: 27px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 600px;
    padding-top: 65px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 42px;
    left: 2px;
    margin-left: 205px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 87px;
      margin-left: 550px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 87px;
      left: -70px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      width: 70px;
      left: -110px;
    }
  }
}

.cat-info__title--comment {
  position: relative;
  width: 121px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 15px;
    left: -4px;
    margin-left: 145px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
      margin-left: 226px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 22px;
      left: -70px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      left: -110px;
    }
  }
}

.cat-info__title--add {
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 212px;
    margin-bottom: 57px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 14px;
    left: -6px;
    margin-left: 168px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 23px;
      margin-left: 258px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 22px;
      left: -70px;
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      left: -110px;
    }
  }
}

.cat-info__button {
  display: block;
  margin: 0 auto 21px;

  @media (min-width: $tablet-width) {
    width: 284px;
    padding: 14px 60px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 570px;
  }
}

.cat-info__text {
  width: 154px;
  margin: 0 auto;
  line-height: 1.14;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 180px;
    margin-left: 56px;
    font-size: 16px;
    line-height: 1;
    transform: translateY(-5px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 76px;
    transform: translateY(-1px);
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}
