.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    overflow: hidden;
    padding-top: 65px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 188px;
    padding-bottom: 76px;
  }
}

.catalog__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 430px;
    margin-bottom: 165px;

    font-size: 60px;
  }
}

.catalog__main-text {
  font-family: $second-family;
  width: 205px;
  margin: 53px auto 8px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-top: 160px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  &::before {
    @include pseudo-elem(30px, 30px, 25px, 50%);
    background-image: url("../../img/plus.svg");
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      background-size: contain;
      top: 50px;
    }
  }
}

.catalog__secondary-text {
  width: 224px;
  margin: 0 auto 21px;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 1.12;
  }
}

.catalog__button {
  display: block;
  margin: 0 auto;
}
