.contacts {
  position: relative;

  &--inner {
    background-color: $basic-grey;
  }
}

.contacts__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 199px;
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    padding: 60px 78px 60px 80px;
  }
}

.contacts__wrapper--change-background {
  background-color: $basic-grey;
}

.contacts__title {
  font-family: $second-family;
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    font-size: 20px;
    line-height: 1.3;
    width: 163px;
  }
}

.contacts__address {
  width: 140px;
  margin: 0;
  line-height: 1.43;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    text-align: right;
    min-height: 60px;
    font-size: 16px;
    line-height: 1.25;
    width: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__picture-wrapper {
  display: flex;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map {
  flex-grow: 1;
  object-fit: cover;
}
