.copyright {
  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.copyright__wrapper {
  background-color: $basic-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  &--form {
    padding-top: 42px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    min-height: 169px;
  }
}

.copyright__logo {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.copyright__logo-text {
  width: 128px;
  height: 24px;
  transition: fill 0.3s ease;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}

.copyright__socials {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 35px;

    &--form {
      margin: 2px 0 0 33px;
    }

    &--catalog {
      margin: 2px 8px 0 40px;
    }
  }
}

.copyright__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover .copyright__academy {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__academy {
    fill: $basic-green;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 1.25;
  color: $special-dark-grey;
  text-decoration: none;
}

.copyright__academy {
  min-width: 27px;
  fill: $special-grey-3;
  transition: opacity 0.3s ease, fill 0.3s ease;
}
