.example {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    height: 462px;
    justify-content: space-between;
    background-color: $basic-grey;
    gap: 224px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.example .example__container {
  background-color: #eaeaea;
  padding: 25px 20px 0;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding-top: 45px;
    padding-right: 30px;
    padding-left: 30px;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    width: 436px;
    transform: translateY(-136px);
    border-top: none;
  }
}

.example__wrapper {
  background-color: #eaeaea;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.example__title {
  line-height: 1.11;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 325px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
    font-size: 60px;
    width: 325px;
  }
}

.example__case {
  line-height: 1.29;
  color: $special-dark-grey;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: -2px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 57px;
    transform: translateY(2px);
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin-bottom: 69px;
  }
}

.example__desc {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    width: 367px;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__desc-item {
  width: 124px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/border.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    width: 162px;

    &:nth-child(2) {
      background-image: url("../../img/border-wide.svg");
    }
  }
}

.example__desc-term {
  font-family: $second-family;
  font-size: 24px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__desc-meaning {
  margin: 0;
  width: 77px;
  text-align: center;
  font-size: 12px;
  font-family: $font-family;

  @media (min-width: $tablet-width) {
    width: 125px;
    font-size: 14px;
  }
}

.example__spendings {
  font-family: $second-family;
  text-align: center;
  line-height: 1.43;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-top: 11px;
    padding-bottom: 0;
    text-align: right;
    font-size: 20px;
    line-height: 1;
    transform: translateX(-2px);
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    margin-top: 0;
    text-align: left;
    transform: translate(2px, -1px);
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 9px;
    transform: translateX(2px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    margin-left: 60px;
  }
}

.example__statistics {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 366px;
  }
}

.example__picture-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding-bottom: 40px;
  height: 296px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    padding-bottom: 0;
  }
}

.example__image {
  width: 140px;
  height: 256px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
    background-size: cover;
    transform: translateY(-151px);
  }

  &--before {
    background-image: url("../../img/cat-before.png");
    background-image: image-set(
      url("../../img/cat-before@2x.webp") 2x,
      url("../../img/cat-before.webp") 1x,
      url("../../img/cat-before@2x.png") 2x,
      url("../../img/cat-before.png") 1x
    );

    @media (min-width: $tablet-width) {
      background-image: url("../../img/cat-before-tablet.png");
      background-image: image-set(
        url("../../img/cat-before-tablet@2x.webp") 2x,
        url("../../img/cat-before-tablet.webp") 1x,
        url("../../img/cat-before-tablet@2x.png") 2x,
        url("../../img/cat-before-tablet.png") 1x
      );

      @media (min-width: $desktop-width) {
        transform: translateY(-135px);
      }
    }
  }

  &--after {
    background-image: url("../../img/cat-after.png");
    background-image: image-set(
      url("../../img/cat-after@2x.webp") 2x,
      url("../../img/cat-after.webp") 1x,
      url("../../img/cat-after@2x.png") 2x,
      url("../../img/cat-ater.png") 1x
    );
    background-position: 100%;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/cat-after-tablet.png");
      background-image: image-set(
        url("../../img/cat-after-tablet@2x.webp") 2x,
        url("../../img/cat-after-tablet.webp") 1x,
        url("../../img/cat-after-tablet@2x.png") 2x,
        url("../../img/cat-after-tablet.png") 1x
      );
    }

    @media (min-width: $desktop-width) {
      transform: translateY(-126px);
    }
  }
}

.example__toggle-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 0;
  width: 4px;
  height: 256px;
  border: none;
  background-color: $special-grey-3;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $basic-green;
  }

  &:hover .example__toggle-icon path {
    fill: $basic-green;
  }

  &:hover .example__toggle-icon rect {
    stroke: $basic-green;
  }

  &:active {
    background-color: fade-out($basic-green-2, $amount: 0.3);
  }

  &:active .example__toggle-icon path {
    fill: fade-out($basic-green-2, $amount: 0.3);
  }

  &:active .example__toggle-icon rect {
    stroke: fade-out($basic-green-2, $amount: 0.3);
  }

  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 512px;
    top: -151px;
  }

  @media (min-width: $desktop-width) {
    top: -135px;
  }
}

.example__toggle-icon path,
.example__toggle-icon rect {
  transition: fill 0.3s ease, stroke 1s ease;
}
