.extra-goods {
  padding-top: 29px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 87px;
  }
}

.extra-goods__container {
  position: relative;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    overflow: unset;
  }
}

.extra-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-goods__title {
  position: relative;
  margin: 0 0 36px;
  width: 226px;
  font-family: $second-family;
  font-size: 24px;
  font-weight: 400;

  &::after {
    @include pseudo-elem(100vw, 2px, 12px, 0);
    background-color: $basic-green;
    margin-left: 265px;
    top: 15px;
    left: -19px;

    @media (min-width: $tablet-width) {
      top: 21px;
      margin-left: 398px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 397px;
      top: 23px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo-elem(30px, 2px, 21px, -69px);
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      left: -100vw;
      width: 100vw;
      margin-left: -41px;
      top: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 450px;
    margin-bottom: 80px;
    font-size: 36px;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.exta-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.extra-goods__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    column-gap: 0;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.extra-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 708px;
    padding: 22px 38px 27px 37px;
    border: 1px solid $special-grey;
    border-bottom: none;

    &:nth-child(2),
    &:nth-child(4) {
      padding-bottom: 29px;
    }

    &:nth-child(2) .extra-goods__description {
      width: 157px;
    }

    &:nth-child(2) .extra-goods__item-title {
      margin-right: 308px;
      transform: translateY(4px);
    }

    &:nth-child(3) .extra-goods__item-title {
      transform: translateY(4px);
      margin-right: 325px;
    }

    &:nth-child(3) .extra-goods__description {
      width: 138px;
    }

    &:nth-child(4) .extra-goods__item-title {
      transform: translateY(4px);
      margin-right: 250px;
    }

    &:nth-child(4) .extra-goods__description {
      width: 210px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    display: flex;
    align-items: center;
    padding: 15px 0 17px;
    border-left: none;
    border-right: none;

    &:nth-child(2),
    &:nth-child(4) {
      padding-bottom: 15px;
    }

    &:nth-child(2) .extra-goods__description {
      width: 276px;
    }

    &:nth-child(2) .extra-goods__item-title {
      margin-right: 160px;
      transform: translateY(-1px);
    }

    &:nth-child(3) .extra-goods__item-title {
      margin-right: 160px;
      transform: translateY(-1px);
    }

    &:nth-child(3) .extra-goods__description {
      width: 286px;
    }

    &:nth-child(4) .extra-goods__description {
      width: 282px;
    }

    &:nth-child(4) .extra-goods__item-title {
      margin-right: 163px;
      transform: translateY(-1px);
    }
  }
}

.extra-goods__item-title {
  margin: 0 0 6px;
  width: 130px;
  font-family: $second-family;
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 165px;
    margin: 0 242px 25px 0;
    font-size: 20px;
    transform: translateY(2px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 161px 0 0;
    transform: translateY(-1px);
  }
}

.extra-goods__description {
  margin: 0 0 15px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transform: translateY(3px);

  @media (min-width: $tablet-width) {
    width: 221px;
    margin-bottom: 25px;
    display: inline-flex;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin: 0 auto 0 0;
  }
}

.extra-goods__term {
  line-height: 1.43;
  color: $special-dark-grey;
}

.extra-goods__term,
.extra-goods__meaning {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.extra-goods__meaning {
  color: $special-dark-grey;
}

.extra-goods__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.extra-goods__present {
  position: relative;
  min-height: 290px;
  margin: 0 auto;
  background-image: url("../img/cat-background-catalog.jpg");
  /* stylelint-disable */
  background-image: linear-gradient(
      fade-out($basic-green, 0.15),
      fade-out($basic-green, 0.15)
    ),
    image-set(
      url("../img/cat-background-catalog@2x.webp") 2x,
      url("../img/cat-background-catalog.webp") 1x,
      url("../img/cat-background-catalog@2x.jpg") 2x,
      url("../img/cat-background-catalog.jpg") 1x
    );
  /* stylelint-enable */
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-color: rgba(104, 183, 56, 0.85);

  &::before {
    @include pseudo-elem(78px, 80px, 58px, 50%);
    background-image: url("../img/present.svg");
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      transform: none;
      top: 57px;
      left: 77px;
      width: 80px;
      height: 82px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 83px;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-background-catalog-tablet.jpg");
    /* stylelint-disable*/
    background-image: linear-gradient(
        fade-out($basic-green, 0.15),
        fade-out($basic-green, 0.15)
      ),
      image-set(
        url("../img/cat-background-catalog-tablet@2x.webp") 2x,
        url("../img/cat-background-catalog-tablet.webp") 1x,
        url("../img/cat-background-catalog-tablet@2x.jpg") 2x,
        url("../img/cat-background-catalog-tablet.jpg") 1x
      );
    /* stylelint-enable*/
    background-size: cover, cover;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/cat-background-catalog.jpg");
    /* stylelint-disable*/
    background-image: linear-gradient(
        fade-out($basic-green, 0.15),
        fade-out($basic-green, 0.15)
      ),
      image-set(
        url("../img/cat-background-catalog@2x.webp") 2x,
        url("../img/cat-background-catalog.webp") 1x,
        url("../img/cat-background-catalog@2x.jpg") 2x,
        url("../img/cat-background-catalog.jpg") 1x
      );
    /* stylelint-enable*/
    width: 245px;
    min-height: 288px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.extra-goods__text {
  margin: 0 auto 0;
  padding-top: 186px;
  width: 162px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: inline-block;
    margin: 71px 0 0 421px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 185px 0 0;
    text-align: center;
  }
}
