.extra-goods {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 87px;
  }
}

.extra-goods__container {
  position: relative;
  overflow: hidden;
}

.extra-goods__title {
  position: relative;
  margin: 0 0 36px;
  width: 226px;
  font-family: $second-family;
  font-size: 24px;
  font-weight: 400;

  &::after {
    @include pseudo-elem(100vw, 2px, 12px, 0);
    background-color: $basic-green;
    margin-left: 265px;

    @media (min-width: $tablet-width) {
      top: 21px;
      margin-left: 460px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 530px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo-elem(30px, 2px, 21px, -60px);
      background-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      left: -140px;
      width: 70px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 80px;
    font-size: 36px;
    margin-left: 30px;
  }
}

.exta-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.extra-goods__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    column-gap: 0;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding: 26px 38px 37px 28px;
    border: 1px solid $special-grey;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding: 15px 0 17px;
    border-left: none;
    border-right: none;
  }
}

.extra-goods__item-title {
  margin: 0 0 13px;
  width: 130px;
  font-family: $second-family;
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 163px;
    margin: 0 242px 25px 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 164px 0 0;
  }
}

.extra-goods__description {
  margin: 0 0 15px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-bottom: 25px;
    display: inline-flex;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    margin: 0 40px 0 0;
  }
}

.extra-goods__term {
  line-height: 1.43;
}

.extra-goods__term,
.extra-goods__meaning {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.extra-goods__meaning {
  color: $special-dark-grey;
}

.extra-goods__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.extra-goods__present {
  position: relative;
  min-height: 290px;
  margin: 0 auto;
  background-image: url("../../img/cat-background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    @include pseudo-elem(78px, 80px, 58px, 50%);
    background-image: url("../../img/present.svg");
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      transform: none;
      top: 57px;
      left: 77px;
      width: 80px;
      height: 82px;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/cat-background-catalog-tablet.jpg");
    background-size: cover;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/cat-background-catalog.jpg");
    width: 245px;
    min-height: 288px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.extra-goods__text {
  margin: 0 auto 0;
  padding-top: 186px;
  width: 162px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    position: absolute;
    top: 71px;
    right: 125px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    text-align: center;
    top: 185px;
    right: 50%;
    transform: translateX(50%);
  }
}
