.form {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form__title {
  margin-bottom: 37px;
}

.form__slogan {
  font-family: $second-family;
  width: 226px;
  line-height: 1.29;
  text-transform: uppercase;
  margin: 0 0 39px;
}
