.form {
  position: relative;
  overflow: hidden;
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 188px;
    padding-bottom: 79px;
  }
}

.form__title {
  width: 265px;
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    width: 500px;
    font-size: 60px;
    margin: 0 0 54px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    margin: 0 0 55px 0;
  }
}

.form__slogan {
  font-family: $second-family;
  width: 226px;
  line-height: 1.29;
  text-transform: uppercase;
  margin: 0 0 39px 1px;

  @media (min-width: $tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 66px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
