.form {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form__title {
  width: 260px;
  margin: 0 auto 37px;
}

.form__slogan {
  font-family: $second-family;
  width: 226px;
  line-height: 1.29;
  text-transform: uppercase;
  margin: 0 auto 39px;
}
