.input {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: $second-family;
}

.input__checkbox {
  margin: 0;
}

.input__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--program::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special-grey;
  }

  &--program::after {
    content: "";
    position: absolute;
    display: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $basic-green;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
  }
}

.input__radio:checked + .input__label--program::after {
  display: block;
}

.input__checkbox:checked + .input__label::after {
  display: block;
}

.input__field {
  font-family: $second-family;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 1.44;
  }
}

.input__label--about-cat {
  margin-right: 13px;
}

.input__label--program {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

.input__label--contact {
  margin-right: 13px;
}

.input__label--add {
  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 18px;
    height: 14px;
    background-image: url("../../img/checkbox.svg");
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
  }
}

.input__text--comment {
  border: 1px solid #e7e7e7;
  resize: none;
  min-height: 150px;
  padding: 13px;
  font-family: $second-family;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    min-height: 175px;
  }
}
