.programs__list {
  @include list-reset();

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 82px;
    padding-bottom: 71px;
    gap: 80px;
    justify-content: center;
  }
}

.programs__card {
  min-width: 280px;
  min-height: 266px;
  position: relative;
  padding: 21px 20px 18px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 372px;
    padding: 77px 63px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
    width: 570px;
    min-height: 374px;
  }
}

.programs__card-title {
  font-family: $second-family;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  font-weight: 400;

  width: 220px;
  margin: 9px 0 29px 70px;

  display: flex;
  align-items: center;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    position: static;
    width: 230px;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
    justify-content: space-between;
    padding-right: 60px;

    &--cat-sit {
      width: 326px;
    }

    &--cat-walk {
      width: 387px;
    }
  }
}

.programs__card-title::before {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 92px;
    left: 445px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.programs__card-title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.programs__card-title--cat-sit::after {
  background-image: url("../img/program-cat-sit.svg");
  width: 36px;
  height: 50px;
  top: 20px;
  left: 27px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    left: 475px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 40px;
    left: 67px;
  }
}

.programs__card-title--cat-walk::after {
  background-image: url("../img/program-cat-walk.svg");
  width: 67px;
  height: 28px;
  top: 34px;
  left: 12px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: 411px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
  }
}

.programs__card-text {
  line-height: 1.29;
  color: $special-dark-grey;

  margin: 0 0 17px;
  padding-bottom: 23px;
  width: 227px;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 340px;
    padding: 0;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 458px;
    margin-bottom: 29px;
  }
}

.programs__card-link {
  position: relative;
  font-family: $second-family;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.3s ease;

  display: inline-block;
  width: 150px;

  &:hover::after {
    width: 40px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 12px;
    margin-left: 16px;
    background-image: url("../img/catalog-arrow.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: width 0.3s ease;

    @media (min-width: $tablet-width) {
      margin-bottom: 2px;
      margin-left: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
  }
}
