.site-navigation {
  &--no-js {
    & + .site-navigation__button {
      display: none;
    }

    .site-navigation__list {
      display: block;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &--is-opened {
    .site-navigation__list {
      position: absolute;
      display: block;
      top: 66px;
      left: 0;
      z-index: 1;
      background-color: #ffffff;
      width: 100%;
    }
  }
}

.site-navigation__list {
  @include list-reset();
  display: none;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.site-navigation__item {
  display: flex;
  justify-content: center;
}

.site-navigation__link {
  font-family: $second-family;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    padding-top: 14px;
    padding-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: #ffffff;
  }

  &--inner {
    color: #111111;
  }

  &--current {
    @media (min-width: $tablet-width) {
      text-decoration: underline;
      text-decoration-color: $basic-green;
      text-decoration-thickness: 2px;
      text-underline-position: under;
      text-underline-offset: 8px;
    }

    @media (min-width: $desktop-width) {
      text-underline-offset: 6px;
      text-decoration-color: #ffffff;
    }
  }
}

.site-navigation__link--current.site-navigation__link--inner {
  text-decoration-color: $basic-green;
}

.site-navigation__button {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/menu-burger.svg");
  top: 22px;
  right: 21px;
  cursor: pointer;

  &--is-pressed {
    width: 22px;
    height: 21px;
    background-image: url("../../img/menu-burger-opened.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
