.site-navigation__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.site-navigation__item {
  display: flex;
  justify-content: center;
}

.site-navigation__link {
  font-family: $second-family;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: #ffffff;
  }

  &--inner {
    color: #111111;
  }
}

.site-navigation__button {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
