.socials {
  @include list-reset();
  padding: 20px 74px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.social__item {
  display: flex;
}

.social__link {
  width: 28px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link-icon {
  fill: $special-grey-3;
  transition: fill 0.3s ease;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: $basic-green;
    opacity: 0.3;
  }
}
