.socials {
  @include list-reset();
  padding: 20px 74px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.social__item {
  display: flex;
}

.social__link {
  width: 28px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $special-grey-3;

  &--vk {
    mask-image: url("../../img/sprite.svg#vk-logo");
  }

  &--youtube {
    mask-image: url("../../img/sprite.svg#youtube-logo");
  }

  &--telegram {
    mask-image: url("../../img/sprite.svg#tg-logo");
  }
}
