.steps__title {
  line-height: 1.11;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 380px;
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 1;
  }
}

.steps__list {
  @include list-reset();

  margin-bottom: 49px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    min-width: 629px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 47px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 205px;
  }
}

.steps__item {
  position: relative;
  width: 280px;
  display: flex;
  align-items: center;
  gap: 20px;

  &::before {
    content: "";
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    min-height: 280px;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;

    &::before {
      width: 80px;
      height: 80px;

      margin: 40px 0 31px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 14px;
      font-family: $second-family;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    min-height: 280px;
  }

  &--leaf::before {
    background-image: url("../../img/leaf.svg");
  }

  &--boil::before {
    background-image: url("../../img/boil.svg");
  }

  &--eat::before {
    background-image: url("../../img/eat.svg");
  }

  &--alarm::before {
    background-image: url("../../img/alarm.svg");
  }

  @media (min-width: $tablet-width) {
    &--leaf::after {
      content: "1";
    }

    &--boil::after {
      content: "2";
    }

    &--eat::after {
      content: "3";
    }

    &--alarm::after {
      content: "4";
    }
  }
}

.steps__text {
  margin: 0;
  width: 200px;

  line-height: 1.29;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 1.5;
  }
}
