.steps__title {
  line-height: 1.11;

  margin-bottom: 40px;
}

.steps__list {
  @include list-reset();

  margin-bottom: 49px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.steps__text {
  margin: 0;
  font-family: $second-family;
  line-height: 1.29;
  color: $special-dark-grey;
}
