@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin pseudo-elem($width: 78px, $height: 80px, $top: 58px, $left: 50%) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  top: $top;
  left: $left;
}
